#header
{
    background-color: black;
    height: 60px;
    color: white;
}
#footer
{
    background-color: red;
    height: 150px;
}  
.content-window
{
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.inner
{
    border: solid 1px black;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 20px 3px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: all 1s;
}
.content-window:last-child
{
    margin-right: 25px;
}
#content
{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
}
#content::after
{
    content: '';
    height: 0;
    clear:both;
    display: block;
}

/***************************/
/*         header          */
/***************************/
#header
{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
#header-title
{
    font-family: "LiSu";
    margin-left: 20px;
    font-size: 1.8em;
    text-shadow: 11px 4px 20px;
}
.nav-left
{
    display: flex;
    align-items: center;
}
.nav-element-ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.nav-element-ul li
{
    width: 100px;
    margin-left: 50px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    font-size: 1.4em;
    cursor: pointer;
}
.nav-element-ul li:hover
{
    background-color: #3d3d3d;
}
.nav-element-ul li:first-of-type
{
    color: orange;
    border-bottom: 3px solid orange;
}
.nav-elememt-ul li:first-of-type::after
{
    content: '';
    display: block;
    width: 100%;
    height:10px;
    background-color: green;
}
#user-data
{
    right: 20px;
    top: 0;
    bottom: 0;
    margin-right: 20px;
}

/**********************************/
/*      temperature-window        */
/**********************************/
.inner
{
    transform-style: preserve-3d;
}
.content-window:hover .inner
{
    transform: rotateY(-180deg);
}
.window-front
{
    position: absolute;
    display: flex;
    justify-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: #f7d699;
    backface-visibility: hidden;
}
.window-back
{
    background-color: #f7d699;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    text-align: center;
}
#temperature-window-back
{
    background-image: linear-gradient(to top, blue,white, red);
}
.window-name
{
    text-align: center;
}

/********************************/
.window-data
{
    width: 40%;
    position: absolute;
    font-size: 4em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
#dividing
{
    height: 0.4em;
    width: 100%;
    background-image: linear-gradient(to right, #000 0%, #000 75%, transparent 50%);
    background-size: 0.5em 0.1em;
    background-repeat: repeat-x;
}
#fah
{
    margin-top: -24px;
}
/******************************************/
/*                modal                   */
/******************************************/
h4
{
    margin-left: 20px;
}
.modal, .modal-mask
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-mask
{
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.modal-content
{
    z-index: 1;
}

/**
* 模态框
*/
.fadeInModal
{
    animation: fadeInModal 0.6s;
}

@keyframes fadeInModal
{
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.fadeOutModal
{
    animation: fadeOutModal 0.6s;
}

@keyframes fadeOutModal
{
    from {transform: scale(1)}
    to {transform: scale(0)}
}
/**
* 遮罩层
*/
.fadeInMask
{
    animation: fadeInMask 0.6s;
}
@keyframes fadeInMask
{
    from {opacity: 0}
    to {opacity: 1}
}
.fadeOutMask
{
    animation: fadeOutMask 0.6s;
}
@keyframes fadeOutMask
{
    from {opacity: 1}
    to {opacity: 0}
}

.modal-content
{
    background-color: #fff;
    width: 80%;
    max-width: 720px;
    height: 60%;
    max-height: 500px;
    margin: 100px auto;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.modal-title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.close
{
    font-size: 30px;
    color: #b7b7b7;
    font-weight: bold;
    margin-right: 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.close:hover
{
    color: #95b4ed;
    cursor: pointer;
}